{% extends "basegen.html" %}
{% block content %}
{% load static %}
<h1 class="text-center my-4">Ajouter une nouvelle collection</h1>
{% if success_message %}
    <div class="alert alert-success text-center" role="alert">
        {{ success_message }}
        <p class="text-center">Retournez à la page <a href="./all">principale</a></p>
    </div>
{% endif %}

    <div class="container">
        <form method="post" class="border p-4 bg-light shadow-sm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Titre :</label>
                <input type="text" id="title" name="title" class="form-control" required value="{{ collec.title }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description :</label>
                <textarea id="description" name="description" class="form-control" rows="4" required>{{ collec.description }}</textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </form>
    </div>
    
{% endblock %}